<%= content_for :title, "Home | " %>

<div class='home'>
  <h1 class='home_title'>Troos Blog<span> by <a href='https://github.com/Kgomotso196/' target='_blank'>Kgomotso196</a></span></h1>
  <p class='home_description'>The Blog app is evolving into a dynamic platform where users can browse posts, engage with content through comments, and express appreciation via likes.</p>
</div>
